* {box-sizing: border-box}

/* Add padding to containers */
.recoveryPasswordFormContainer {
    width: 30%;
    padding: 16px;
}

.recPassText {
    text-align: center;
}

.recPassInput {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.recPassInput:focus {
    background-color: #ddd;
    outline: none;
}

.recPassBtn {
    background-color: #0468aa;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.recPassBtn:hover {
    opacity:1;
}

.recPassError {
    color: red;
}